
<div class="text-center">

    <img src="~/images/download.jpg">

    <br><br>><br>

    @ViewBag.Message
    
    <br><br>><br>
    <p>Repository <a href="https://github.com/fooyk84/myrepo">https://github.com/fooyk84/myrepo</a>.</p>
</div>
